{% extends "base.html" %}
{% load static %}
{% block content %}
    <main>
        <section class="about-section">
            <h1>GoITeens</h1>
            <p>Онлайн IT-курси для дітей – це не швидкий майстер-клас чи семінар від відомого фахівця. Це цікава та насичена необхідними навичками система навчання, що сподобається підлітку та його батькам. Вона підійде для тих, хто бажає перетворити любов дитини до комп’ютерних ігор в корисний навчальний процес чи підкаже з чого почати вести свій блог</p>
            <p>Програмування, за версією The World Economic Forum, це одна з ТОП-навичок, що буде потрібна у майбутньому.</p>
            <p>Тому якщо ви хочете знайти для своєї дитини актуальну та цікаву професію з високою зарплатнею, то програмування та веб-розробка – це саме те що потрібно.</p>
            <p>Вячеслав Поліновський</p>
            <p>CEO GoITeens</p>
        </section>
    </main>
    <main>
        <section class="new-section">
            <h1>GOITEENS — МЕРЕЖА ОНЛАЙН IT АКАДЕМІЙ ДЛЯ ДІТЕЙ</h1>
            <p>GoITeens є частиною продуктової EdTech-компанії GoIT — лідера технічної онлайн-освіти в Україні. В холдинг компаній також входить Skillsetter. Маємо найбільший філіал в Польщі, також у Туреччині та на Кіпрі, і також навчаємо дітей онлайн по всьому світу. Під час навчання кожна дитина створить портфоліо власних проєктів, які побачать найкращі роботодавці в спільноті GoITeens Club.</p>
            <p>Розвиток соціально-комунікативних навичок -
                Це те, чому в школі не привертають багато уваги — командна робота, навички публічного виступу та нестандартного розв’язування задач</p>
            <p>Програмування Python: Backend та DataScience -
                Підлітки ознайомляться зі створенням систем штучного інтелекту та баз даних</p>
            <p>IT-дизайн -
                Вивчення основ дизайну та інструментів, за допомогою яких створюється візуал сайтів, ігор та застосунків</p>
        </section>
    </main>
    <main>
        <section class="about-section">
            <h1>8</h1>
            <p>СОЦІАЛЬНИХ НАВИЧОК, ЯКІ ЗАСВОЮЮТЬ УСІ НАШІ УЧНІ</p>
            <p>Емоційний інтелект</p>

            <p>Вміння розуміти власні емоції, контролювати свій емоційний стан та легко розуміти, що відчувають інші</p>
            <p>Cамостійність</p>
            <p>Вміння брати на себе відповідальність, проявляти ініціативу та втілювати в життя власне бачення, без зовнішніх вказівок</p>
            <p>Креативність</p>
            <p>Вміння знаходити нестандартні рішення задач, виходити за рамки відомих алгоритмів та правил, створювати нові концепти</p>
            <p>Гнучкість та управління проєктами</p>
            <p>Вміння фокусуватися на результаті та швидко знаходити варіанти рішень, які влаштовують усі сторони процесу та ведуть до спільної мети</p>
        </section>
    </main>
{% endblock %}
